.sec1 {
    background-image: url(../img/hp5.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    min-height: 100vh;
    font-family: 'Lobster', cursive;  
}

.sec2 {
    background-image: url("../img/hp5.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    background-attachment: fixed;

}

#section6 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    background-color: rgba(15, 15, 15, 0.137);
}

.text-box {
    background-color: rgba(255, 255, 255, 0.747);
    color: rgb(0, 0, 0);
    padding: 10%;
}

.transparent:hover {
    background-color: #ccd3ec28;
}

.card-body {
    color: #1a2b6b;
    text-align: center;
}

h1 {
    color: #1a2b6b;
}

h2 {
    color: #1a2b6b;
}

p {
    color: #1a2b6b;
}

/* ul {
    list-style: none;
} */

.nav-link {
    font-size: 18px;
    margin: 3px;
    color: #1a2b6b!important;
    font-weight: 500;
}

.nav-link:hover {
    border-bottom: 2px solid #1a2b6b;
}

@media only screen and (max-width: 1000px) {
    .nav-link:hover {
        border-bottom: none;
    }
}

.navbar .navbar-toggler {
    outline: none;
    border: none;
}

.navbar .fas {
    color: #1a2b6b!important;
    font-size: 30px;
}

/* .nav-item {
    position: relative;
    display: inline-block;
} */

.dropdown-menu .dropdown-item {
    color: #1a2b6b;
    background-color: #1a2c6b2c;
    box-shadow: 0px 8px 16px 0px rgba(15, 15, 15, 0.137);
    padding: 4px 6px;
    text-decoration: none;
}

.dropdown-menu {
    border: 0px!important;
    padding: 0rem!important;
}

.dropdown-toggle::after {
    display: none!important;

}



